{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Home</title>{% endblock title %}
</head>
<body>
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>

<h1>Home Page</h1>

<div class="home-container">
    <div>
        {% include 'app/topics_component.html' %}
    </div>
    <div>
        {% block count %}
        {% if room_count  == 1 %}
            <h5>{{ room_count }} room available</h5>
        {% else %}
            <h5>{{ room_count }} rooms available</h5>
        {% endif %}
        {% endblock %}
        <h2><a href="{% url 'create_room' %}" >CreateRoom </a></h2>

        {% include 'app/feed_component.html' %}
    </div>

    <div>
        {% include 'app/activity_component.html' %}
    </div>

</div>


{% endblock content %}

</body>
</html>