{% extends 'main.html' %}

{% block content %}
    {% if page == 'login' %}
        <div>
            <form method="post" action="" >
                {% csrf_token %}
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">

                <label>Password</label>
                <input type="password" name="password" placeholder="password">
                <input type="submit" >
            </form>
            <p>Not signed up yet?</p>
            <a href="{% url 'register' %}">Register</a>
        </div>

    {% elif page == 'register' %}
        <div>
            <form method="post" action="" >
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="register" value="register">
            </form>
        </div>
        <p>Alredy signed up?</p>
         <a href="{% url 'login' %}">login here</a>

    {% elif page == 'create_user' %}
        <div>
            <form method="post" action="" >
                {% csrf_token %}
                <label>Username</label>
                <input type="text" name="username" placeholder="Username"/>
                <br>
                <br>
                <label>Password</label>
                <input type="password" name="password" placeholder="password"/>
                <br>
                <br>
                <label>Password again</label>
                <input type="password" name="password2" placeholder="password"/>
                <input type="submit" >

            </form>
        </div>
        <p>Already signed up?</p>
         <a href="{% url 'login' %}">login here</a>
    {% endif %}


{% endblock content %}