{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 0.9fr 2.75fr 1fr;
    }
</style>

    <h3>{{ user.username }}</h3>

<div class="profile-container">

    <div>
    {% include 'app/topics_component.html' %}
    </div>
    <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
            <a href="edit-user.html" class="btn btn--main btn--pill">Edit Profile</a>
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo tenetur
              facilis sunt nemo debitis quisquam hic atque aut? Ducimus alias placeat optio
              accusamus repudiandae quis ab ex exercitationem rem?
            </p>
          </div>
        </div>
    <div>

    </div>

     <div class="container">
        {% include 'app/activity_component.html' %}
    </div>
    <div class="roomList">
        {% include 'app/feed_component.html' %}
    </div>



</div>
{% endblock %}